*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(41, 40, 40),black,rgb(41, 40, 40)) ;
}

header{
    font-size: 15px;
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}
.container{ /*define o tamanho do campo de visão maximo é que todos os itens alcacem as bordas*/
    max-width: 1000px;
    margin:auto;
    box-sizing: border-box;
}

.formContainer{
    color: black;
    background-color: rgba(255,255,255,0.6);
    max-width: 230px;
    padding: 10px;
    float: right; /*alinha o container de formulario a direita*/
}
.mb{/*subclasse somente para os dois paragrafos dentro do formulario*/
    margin-bottom: 15px;
}
input, select{/*nome, e-mail e o select de estado*/
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: none;
}
input[type="submit"]{
    border-radius: 8px;
    transition: .5s;
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}
input[type="submit"]:hover{
    transition: .5s;
    color: #48c5ce;
    background-color: white ;
    
}

section{
    margin: auto;
    padding: 20px;
    background-image: url(../assets/people.jpg);
    background-size: cover;
    overflow: hidden;/*"overflow: auto" tambem funciona, imagem pegando toda a div sem vazar*/
    
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    
}
.picture{
    transition: .5s;
    position: relative;
    border-radius: 1em;
    width: 160px;

}
.picture:hover{
    
    transition: .5s;
    width: 300px;
}
.description{
    display: inline-block;
    max-width: 40%;
    margin-left: 20px;
    
}
.description p, .description h3{
    text-align: left;
    margin-bottom: 20px;
}
footer{
    align-items: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding:40px;
}
.footerCard{
    margin:auto;
    padding: 30px;
    max-width: 100%;
    border-radius: 1em;
    background-image: linear-gradient(gray,black);
}
@media (max-width: 800px){
    .formContainer{
        float: none;
        margin: auto;
    }

    .description{
        margin: 0;
        max-width: 300px;
    }
    .description p, .description h3{
        margin-top: 10px;
        text-align: center;
    }
    .picture{
        left:0;
    }

}
    
